[Unit]
Description=Dummy Service
After=multi-user.target

[Service]
ExecStart=/usr/bin/bash /usr/bin/dummy.sh
Type=simple
[Install]
WantedBy=multi-user.target
